/.DS_Store
/venv
/ta-lib-python-master
/Intoduction Into Profession/mvenv
/DerivativesControl/__pycache__/
/DerivativesControl/.ipynb_checkpoints/
/HighFrequencyTrading/Deribir_Traiding*
/HighFrequencyTrading/.ipynb_checkpoints